if status is-interactive
    set -g fish_autosuggestion_enabled 0
    set fish_greeting '' # turn off the greeting

    set -x APPLE_SSH_ADD_BEHAVIOR macos
end

fish_add_path /usr/local/sbin
fish_add_path $HOME/local/bin
#  /opt/local/bin is used by MacPorts
fish_add_path /opt/local/bin

set -x EDITOR vim

set -x ERL_AFLAGS "-kernel shell_history enabled"
set -x KERL_BUILD_DOCS true
{{- if eq .chezmoi.hostname "Mike-Stoks-MacBook-Pro" }}
# Kinetic’s Erlang is linked against openssl 1.1
set -x KERL_CONFIGURE_OPTIONS "--without-javac --with-ssl=/usr/local/opt/openssl@1.1"
{{- else }}
set -x KERL_CONFIGURE_OPTIONS --without-javac

source (brew --prefix asdf)/libexec/asdf.fish
{{- end }}
